.RandomMovieContainer {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 40px auto auto;
  text-align: center;
  padding: 0 20px;
}

.RandomMovie {
  margin: 0 auto 20px;
}

.RandomMovieFormControl {
  width: 200px;
}

.RandomMovieButton {
  height: 60px;
}
